@import "tailwindcss";

*[data-tauri-drag-region] {
  -webkit-app-region: drag;
  app-region: drag;
}

body {
  background: #1a1a1a !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#root {
  background: #1a1a1a !important;
}
